.contactLink {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  padding: 0px;
  text-decoration: none;
  transition: opacity 0.3s ease;
}

.contactLink:hover {
  text-decoration: none;
  opacity: 0.7;
}

.text {
  color: var(--outline-placeholder);
  font-size: var(--font-size-medium);
  font-weight: 400;
  line-height: var(--line-height-medium);
  font-style: normal;
}

.textBold {
  color: var(--outline-placeholder);
  font-size: var(--font-size-medium);
  font-weight: 700;
  line-height: var(--line-height-medium);
  font-style: normal;
}

