.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-lg);
  width: 100%;
  padding: 0;
}

.totalRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: var(--spacing-lg);
  width: 100%;
  height: var(--line-height-large);
  padding: 0;
}

.label {
  width: auto;
  height: var(--line-height-large);
  margin: 0 auto;
  color: var(--outline-primary);
  font-size: var(--font-size-large);
  font-weight: 700;
  line-height: var(--line-height-large);
  font-family: var(--font-formular);
  font-style: normal;
}

.total {
  width: auto;
  height: var(--line-height-large);
  margin: 0 auto;
  color: var(--outline-primary);
  font-size: var(--font-size-large);
  font-weight: 700;
  line-height: var(--line-height-large);
  font-family: var(--font-formular);
  font-style: normal;
}

.checkoutButton {
  width: 100%;
  height: 50px;
  font-size: 21px;
  line-height: 30px;
}

.totalDesktop {
  display: block;
}

.totalMobile {
  display: none;
  font-size: 21px;
  font-weight: 400;
  line-height: 30px;
}


@media (max-width: 1023px) {
  .container {
    width: 100%;
  }
}

@media (max-width: 759px) {
  .totalDesktop {
    display: none;
  }

  .totalMobile {
    display: block;
  }
}

