.productView {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-2xl);
  flex-grow: 1;
  width: 100%;
}

.mobileHeader {
  width: 100%;
  max-width: 450px;
}

@media (max-width: 1023px) {
  .productView {
    flex-direction: column;
  }

  .mobileHeader {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-lg);
  }
}

@media (max-width: 759px) {
  .productView {
    gap: var(--spacing-lg);
  }
}
