.selector {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-sm);
  height: 45px;
  padding: var(--spacing-sm);
  border-radius: 15px;
  background: #F7F5F5;
  max-height: 45px;
  box-sizing: border-box;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30px;
  border: none;
  background: transparent;
  color: var(--outline-primary);
  font-size: 21px;
  font-weight: 400;
  line-height: 30px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.button:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.button:not(:disabled):hover {
  opacity: 0.7;
  transform: scale(1.1);
}

.button:not(:disabled):active {
  transform: scale(0.95);
}

.quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  height: 30px;
  color: var(--outline-primary);
  font-size: 21px;
  font-weight: 400;
  line-height: 30px;
  font-family: var(--font-formular);
  font-style: normal;
}

