.selector {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing-xs);
  width: 100%;
  height: 45px;
  border-radius: var(--spacing-md);
  background: var(--fill-secondary);
  min-width: fit-content;
  box-sizing: border-box;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  max-width: 45px;
  height: 45px;
  padding: 0;
  border: none;
  background: transparent;
  color: var(--outline-primary);
  font-size: var(--font-size-large);
  font-weight: 400;
  line-height: var(--line-height-large);
  cursor: pointer;
  font-family: var(--font-formular);
  font-style: normal;
  transition: all 0.2s ease;
  flex-shrink: 0;
}

.button:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.button:not(:disabled):hover {
  opacity: 0.7;
  transform: scale(1.1);
}

.button:not(:disabled):active {
  transform: scale(0.95);
}

.quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: var(--line-height-large);
  color: var(--outline-primary);
  font-size: var(--font-size-large);
  font-weight: 400;
  text-align: center;
  line-height: var(--line-height-large);
  min-width: 20px;
  font-style: normal;
  flex-shrink: 0;
}

