.message {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  width: 100%;
  padding: 0;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.title {
  width: 100%;
  margin: 0;
  color: var(--outline-primary, #0d0000);
  font-size: 38px;
  font-weight: 700;
  text-align: center;
  line-height: 45px;
  font-family: 'Formular', sans-serif;
  font-style: normal;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.description {
  width: 100%;
  margin: 0;
  color: #000000;
  font-size: 17px;
  font-weight: 400;
  text-align: center;
  line-height: 25px;
  font-family: 'Formular', sans-serif;
  font-style: normal;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

@media (max-width: 759px) {
  .message {
    padding: var(--spacing-3xl) 0;
  }

  .title {
    font-size: var(--font-size-heading-1-mobile);
    line-height: var(--line-height-heading-1-mobile);
  }

  .description {
    font-size: var(--font-size-large);
    line-height: var(--line-height-large);
  }
}

