.section {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
  width: 100%;
  margin: 0 auto;
  max-width: var(--container-max);
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xl);
}

.titleRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 0 var(--spacing-3xl);
}

.title {
  margin: 0;
  font-size: var(--font-size-heading-1);
  font-weight: 700;
  line-height: var(--line-height-heading-1);
}

.titleAction {
  display: flex;
  align-items: center;
}

@media (min-width: 1500px) {
  .titleRow {
    max-width: var(--container-max);
    padding: 0;
  }
}

@media (max-width: 1499px) {
  .content {
    padding: 0 var(--spacing-3xl);
  }
}

@media (max-width: 1279px) {
  .titleRow {
    padding: 0 var(--spacing-2xl);
  }

  .title {
    font-size: var(--font-size-heading-1-mobile);
    line-height: var(--line-height-heading-1-mobile);
  }

  .content {
    padding: 0 var(--spacing-2xl);
  }
}

@media (max-width: 759px) {
  .titleRow {
    padding: 0 var(--spacing-lg);
  }

  .content {
    padding: 0;
  }
}

.noPadding {
  padding: 0;
}
