.priceSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-md);
}

.price {
  color: var(--outline-primary);
}

.salePrice {
  color: var(--outline-interactive);
}

.mobileOnly {
  display: none;
}

.desktopOnly {
  display: block;
}

@media (max-width: 759px) {
  .price {
    font-size: var(--font-size-heading-1-mobile);
  }

  .mobileOnly {
    display: block;
  }

  .desktopOnly {
    display: none;
  }
}





