.title {
  margin-bottom: 0;
}

.row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--spacing-lg);
  isolation: isolate;
}

.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: var(--spacing-xl) var(--spacing-lg);
  border: 1px solid var(--outline-faint);
  border-radius: 25px;
  background: var(--surface-primary);
  margin-top: var(--spacing-lg);
}

.ctaText {
  color: var(--outline-primary);
  font-size: var(--font-size-large);
  line-height: var(--line-height-large);
}

@media (max-width: 1023px) {
  .row {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 599px) {
  .row {
    grid-template-columns: 1fr;
  }
}

@media (hover: hover) {
  .cta:hover {
    background: var(--surface-primary-hover);
    border-color: var(--outline-faint-hover);
  }
}
