.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 25px 20px;
  border: 1px solid var(--outline-faint);
  border-radius: 25px;
  background: var(--surface-primary);
}

.text {
  color: var(--outline-primary);
  font-size: var(--font-size-large);
  line-height: var(--line-height-large);
}

@media (hover: hover) {
  .button:hover {
    background: var(--surface-primary-hover);
    border-color: var(--outline-faint-hover);
  }
}


