.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-sm);
  width: 100%;
  padding: var(--spacing-lg);
  border: 1px solid var(--outline-faint);
  border-radius: 25px;
  background: var(--surface-primary);
  box-sizing: border-box;
}

.cardExpanded {
  height: auto;
}

.name {
  color: var(--outline-primary);
  font-size: var(--font-size-heading-2);
  font-weight: 700;
  line-height: var(--line-height-heading-2);
  margin-bottom: 0;
}

.meta {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
}

.stars {
  display: flex;
  gap: var(--spacing-xs);
  height: 15px;
}

.stars span {
  color: var(--outline-interactive);
}

.source {
  color: var(--outline-placeholder);
  font-size: var(--font-size-small);
  line-height: var(--line-height-small);
  text-decoration: underline;
}

.text {
  display: -webkit-box;
  color: var(--outline-primary);
  font-size: var(--font-size-medium);
  line-height: var(--line-height-medium);
  overflow: hidden;
  margin-bottom: 0;
  -webkit-line-clamp: 7;
  line-clamp: 7;
  -webkit-box-orient: vertical;
  box-orient: vertical;
}

.textExpanded {
  display: block;
  overflow: visible;
}

.more {
  color: var(--outline-placeholder);
  font-size: var(--font-size-medium);
  line-height: var(--line-height-medium);
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}


