.title {
  margin-bottom: 0;
}

.row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: var(--spacing-sm);
}

@media (max-width: 1279px) {
  .row {
    grid-template-columns: 1fr;
  }
}


