.section {
  gap: var(--spacing-md);
}

.row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: var(--spacing-sm);
}

@media (max-width: 1279px) {
  .row {
    grid-template-columns: repeat(4, 1fr);
  }

  .productCard:nth-child(n+5) {
    display: none;
  }
}

@media (max-width: 1023px) {
  .row {
    grid-template-columns: repeat(3, 1fr);
  }

  .productCard:nth-child(n+4) {
    display: none;
  }
}

@media (max-width: 759px) {
  .section {
    gap: var(--spacing-sm);
  }
  
  .row {
    grid-template-columns: repeat(3, 1fr);
  }

  .productCard:nth-child(n+3) {
    display: flex;
  }

  .productCard:nth-child(n+4) {
    display: none;
  }
}

@media (max-width: 599px) {
  .row {
    grid-template-columns: repeat(2, 1fr);
  }
  
  .productCard:nth-child(n+4) {
    display: flex;
  }

  .productCard:nth-child(n+5) {
    display: none;
  }
}
