.navLink {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 3px;
  padding: 0;
  text-decoration: none;
  transition: color 0.3s ease;
}

.text {
  color: var(--outline-placeholder);
  font-size: var(--font-size-medium);
  font-weight: 400;
  line-height: var(--line-height-medium);
  font-style: normal;
  transition: color 0.3s ease;
}

.icon {
  flex-shrink: 0;
}

@media (hover: hover) {
  .navLink:hover {
    text-decoration: none;
  }

  .navLink:hover .text {
    color: var(--outline-hover);
  }
}
