.topBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing-md);
  width: 100%;
  height: 20px;
  padding: 0;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.contactSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--spacing-xl);
}

@media (max-width: 759px) {
  .topBar {
    display: none;
  }

  .contactSection {
    display: none;
  }
}
