.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: var(--spacing-3xl) 0;
  background: var(--surface-primary);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  border-top: 1px solid var(--outline-faint);
}

.content {
  display: grid;
  width: 100%;
  width: var(--container-max);
  margin: 0 auto;
  grid-template-columns: repeat(3, 1fr);
}

.brandBlock {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-lg);
}

.logo {
  height: 45px;
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2xl);
}

.contactList {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  margin: 0;
}

.contactItem {
  color: var(--outline-primary);
  font-size: var(--font-size-medium);
  line-height: var(--line-height-medium);
}

.contactItem a {
  color: var(--outline-primary);
  text-decoration: none;
}

.navColumn {
  display: flex;
  flex-direction: column;
}

.linkList {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
  margin: 0;
}

.linkItem {
  color: var(--outline-primary);
  text-decoration: none;
}

.parentItem {
  color: var(--text-primary);
  font-weight: 700;
}

@media (max-width: 1279px) {
  .content {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 759px) {
  .content {
    grid-template-columns: 1fr;
    gap: var(--spacing-xl);
  }
}

@media (hover: hover) {
  .contactItem a:hover {
    color: var(--outline-hover);
    text-decoration: none;
  }
}
