.iconButton {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  padding: 0;
  border: none;
  color: var(--outline-primary);
  cursor: pointer;
  min-width: 40px;
  transition: opacity 0.2s ease;
}

.iconButton[data-layout='row'] {
  flex-direction: row;
}

.iconButton[data-layout='column'] {
  flex-direction: column;
  gap: 5px;
}

.iconWrap .badge {
  position: absolute;
  top: -8px;
  right: -8px;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  padding: 0;
  border-radius: 7px;
  background-color: var(--fill-interactive);
  color: var(--surface-primary);
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  min-width: 20px;
  box-sizing: border-box;
}

.iconButton[data-variant='default'] {
  background: transparent;
}

.iconButton[data-variant='ghost'] {
  border-radius: 8px;
  background: var(--surface-primary);
}

.iconButton[data-variant='ghost']:hover {
  background: var(--surface-primary-hover);
}

@media (max-width: 759px) {
  .iconButton {
    width: 36px;
    height: 36px;
  }

  .badge {
    top: -2px;
    right: -2px;
    height: 16px;
    font-size: var(--font-size-small-mobile);
    min-width: 16px;
  }
}

@media (hover: hover) {
  .iconButton:hover {
    opacity: 0.7;
  }
}

.label {
  white-space: nowrap;
  color: var(--outline-placeholder);
  font-size: 15px;
  line-height: 20px;
}

.iconButton[data-layout='row'] .label {
  margin-left: 8px;
}

.iconWrap {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
}
