.socialButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.socialButtons[data-size="xs"] {
  gap: 10px;
}

.socialButtons[data-size="s"] {
  gap: 15px;
}

.socialButtons[data-size="sm"] {
  gap: 15px;
}

.socialButtons[data-size="m"] {
  gap: 15px;
}

