.headerMainBar {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 55px;
  margin: 0 auto;
}

.logo {
  margin-right: var(--spacing-2xl);
}

.catalogButton {
  margin-right: var(--spacing-sm);
}

.searchBar {
  max-width: 340px;
}

.catalogAndSearch {
  display: flex;
  max-height: inherit;
  align-items: center;
  gap: var(--spacing-sm);
}

.burgerButton {
  display: none;
}

.headerActions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: var(--spacing-sm);
  flex-grow: 1;
}

@media (max-width: 1279px) {
  .burgerButton {
    display: block;
    margin-right: var(--spacing-lg);
    order: -1;
  }

  .logo {
    margin-right: var(--spacing-lg);
  }

  .catalogButton {
    margin-right: var(--spacing-sm);
  }

  .searchBar {
    max-width: 55px;
    margin-right: auto;
  }

  .headerActions {
    gap: var(--spacing-xs);
    flex-grow: 0;
  }
}

@media (max-width: 759px) {
  .catalogButton {
    display: none;
  }

  .headerMainBar {
    justify-content: space-between;
    gap: var(--spacing-lg);
    height: 35px;
  }

  .burgerButton {
    margin-right: 0;
    order: 1;
  }

  .headerActions {
    display: none;
  }

  .searchBar {
    order: -1;
    margin-right: 0;
  }

  .logo {
    order: 0;
    margin: 0 auto;
  }
}

