.headerMainBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 55px;
  margin: 0 auto;
}

.logo {
  margin-right: var(--spacing-2xl);
}

.catalogAndSearch {
  display: flex;
  max-height: inherit;
  align-items: center;
  gap: var(--spacing-sm);
}

.headerActions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: var(--spacing-sm);
  flex-grow: 1;
}


