.categoryLink {
  color: var(--outline-primary);
  font-size: var(--font-size-large);
  font-weight: 700;
  line-height: var(--line-height-large);
  text-decoration: none;
  transition: color 0.3s ease;
  white-space: nowrap;
}

@media (hover: hover) {
  .categoryLink:hover {
    color: var(--outline-hover);
    text-decoration: none;
  }
}

