name: Deploy Next.js to VPS

on:
  push:
    branches: [ master ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Deploy via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd /var/www/ultrastore-ssr
            git pull origin master
            rm -f .env
            echo "${{ secrets.SERVER_ENV }}" > .env
            npm install
            npm run build
            pm2 restart ultrastore-ssr
